.page-header {
  background-image: linear-gradient(to right, #f0d93e 50%, #c6beae 50%);
}
.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1300px) {
  .page-header__wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}
.page-header__left {
  flex-basis: 100%;
  background: #f0d93e;
  padding-top: 40px;
  height: 500px;
}
.page-header__right {
  flex-basis: 100%;
  padding-top: 120px;
  height: 500px;
  background: #c6beae url(../img/ipad.png) no-repeat 50% 700%;
}
.page-header__inner {
  width: 450px;
  height: 350px;
  margin: 0 auto;
  color: #46b4b4;
  position: relative;
}
.page-header__inner h1,
.page-header__inner h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 30px;
}
.page-header__inner .social {
  position: absolute;
  bottom: 0;
}
@media (min-width: 1300px) {
  .page-header__left {
    flex-basis: 50%;
  }
  .page-header__right {
    flex-basis: 50%;
  }
}
.page-nav {
  position: relative;
  margin-bottom: 50px;
}
.page-nav__wrapper {
  display: flex;
  justify-content: center;
}
.page-nav__button {
  width: 60px;
  height: 60px;
  background: url(../img/burger.png) no-repeat center;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: -15px;
}
.page-nav__link {
  display: inline-block;
  color: #60d4d4;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px 12px 2px 10px;
}
.page-nav__link:not(:last-of-type) {
  border-right: 2px solid #60d4d4;
}
.page-logo {
  width: 100px;
  height: 100px;
  background: url(../img/page-logo.png) no-repeat center;
}
.social {
  height: 30px;
  width: 260px;
}
.social__link {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: no-repeat center;
}
.social__link:nth-of-type(1) {
  background-image: url(../img/social/fb.png);
}
.social__link:nth-of-type(2) {
  background-image: url(../img/social/tw.png);
}
.social__link:nth-of-type(3) {
  background-image: url(../img/social/g.png);
}
.social__link:nth-of-type(4) {
  background-image: url(../img/social/in.png);
}
.social__link:nth-of-type(5) {
  background-image: url(../img/social/fl.png);
}
.social__link:nth-of-type(6) {
  background-image: url(../img/social/b.png);
}
.social__link:nth-of-type(7) {
  background-image: url(../img/social/t.png);
}
.contacts {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
}
.contacts__phone {
  display: inline-block;
  font-size: 14px;
  height: 30px;
  vertical-align: top;
}
.contacts__email {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url(../img/social/email.png) no-repeat center;
}
.latest {
  width: 220px;
  margin: 0 auto;
  text-transform: uppercase;
}
.latest h2 {
  font-size: 18px;
  font-weight: normal;
  color: #848484;
  margin-bottom: 15px;
}
.latest p {
  font-size: 14px;
  color: #fff;
}
.latest p:last-of-type {
  margin-bottom: 25px;
}
.latest span {
  color: #fdeecf;
  margin-right: 15px;
}
.latest a {
  border: 1px solid #9a977a;
  display: block;
  width: 120px;
  height: 35px;
  margin: 0 auto;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  color: #fff;
}
.about {
  padding: 0 50px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 200px;
}
.about__header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  font-weight: normal;
}
.about__text {
  max-width: 840px;
  margin: 0 auto 160px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
}
.about__container {
  display: flex;
  flex-wrap: wrap;
}
.about__item {
  flex-basis: 100%;
  margin-bottom: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}
.about__item h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 20px;
  padding-left: 10px;
  position: relative;
}
.about__item h3::before {
  content: '';
  display: block;
  width: 5px;
  height: 15px;
  background: #46b4b4;
  position: absolute;
  left: 0;
  top: 3px;
}
.about__item p {
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 650px) {
  .about {
    max-width: 650px;
    margin: 0 auto;
  }
  .about__item {
    flex-basis: 50%;
  }
}
@media (min-width: 1300px) {
  .about {
    max-width: 1300px;
    margin: 0 auto;
  }
  .about__item {
    flex-basis: 25%;
  }
}
.people__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.people__item {
  flex-basis: 100%;
  height: 500px;
  padding: 280px 35px 0;
  box-sizing: border-box;
  background: #46b4b4 no-repeat center;
}
.people__item h2 {
  color: #46b4b4;
  margin-bottom: 15px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.people__item h3 {
  margin-bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
}
.people__item p {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 14px;
}
.people__item:nth-of-type(2n) {
  text-align: right;
}
.people__item:nth-of-type(2n) .social {
  float: right;
}
.people__item:nth-of-type(1) {
  background-image: url(../img/people/doe.png);
}
.people__item:nth-of-type(2) {
  background-image: url(../img/people/dowson.png);
}
.people__item:nth-of-type(3) {
  background-image: url(../img/people/bross.png);
}
.people__item:nth-of-type(4) {
  background-image: url(../img/people/croft.png);
}
.people .social {
  background: rgba(0, 0, 0, 0.4);
}
@media (min-width: 650px) {
  .people__item {
    flex-basis: 50%;
  }
}
@media (min-width: 1300px) {
  .people__item {
    flex-basis: 25%;
  }
}
.process {
  padding: 0 50px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 160px;
}
.process__header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 30px;
}
.process__text {
  max-width: 840px;
  margin: 0 auto 140px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
}
.process__container {
  display: flex;
  flex-wrap: wrap;
}
.process__item {
  flex-basis: 100%;
  margin-bottom: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}
.process__item h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}
.process__item p {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.process__item:nth-of-type(1) .process__pic {
  background-image: url(../img/process/1.png);
}
.process__item:nth-of-type(2) .process__pic {
  background-image: url(../img/process/2.png);
}
.process__item:nth-of-type(3) .process__pic {
  background-image: url(../img/process/3.png);
}
.process__item:nth-of-type(4) .process__pic {
  background-image: url(../img/process/4.png);
}
.process__pic {
  height: 80px;
  width: 80px;
  margin: 0 auto 20px;
  border-radius: 50%;
  border: 2px solid #6dd7d7;
  background: no-repeat center;
}
@media (min-width: 650px) {
  .process {
    max-width: 650px;
    margin: 0 auto;
  }
  .process__item {
    flex-basis: 50%;
  }
}
@media (min-width: 1300px) {
  .process {
    max-width: 1300px;
    margin: 0 auto;
  }
  .process__item {
    flex-basis: 25%;
  }
}
.portfolio__wrapper {
  padding: 180px 0 160px;
}
.portfolio__header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 30px;
}
.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.portfolio__button {
  display: inline-block;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px 17px 5px 15px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: Oswald;
}
.portfolio__button:not(:last-of-type) {
  border-right: 1px solid #000;
}
.portfolio__button:hover {
  color: #46b4b4;
}
.portfolio__more {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 18px;
  background: none;
  border: none;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 80px;
}
.portfolio__item {
  height: 250px;
  padding-top: 80px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.portfolio__item:hover h2,
.portfolio__item:hover h3 {
  display: none;
}
.portfolio__item:hover .portfolio__mask {
  display: flex;
}
.portfolio__item h2 {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
.portfolio__item h3 {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-family: Lekton;
}
.portfolio__item--big {
  height: 500px;
}
.portfolio__item:nth-of-type(1) {
  background: #f54759;
}
.portfolio__item:nth-of-type(2) {
  background: #e0d7cd;
}
.portfolio__item:nth-of-type(3) {
  background: #e3d3c8;
}
.portfolio__item:nth-of-type(4) {
  background: #dbdbd3;
}
.portfolio__item:nth-of-type(5) {
  background: #e6e6e6;
}
.portfolio__item:nth-of-type(6) {
  background: #513c4b;
}
.portfolio__item:nth-of-type(7) {
  background: #e6e6e6;
}
.portfolio__item:nth-of-type(8) {
  background: #f2eed4;
}
.portfolio__item:nth-of-type(9) {
  background: #f0d93e;
}
.portfolio__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}
.portfolio__client {
  width: 220px;
  margin: 0 auto;
  text-align: left;
}
.portfolio__client span {
  font-family: Lekton;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.portfolio__client span:first-child {
  color: #46b4b4;
}
.portfolio__date {
  width: 220px;
  margin: 0 auto 50px;
  text-align: left;
}
.portfolio__date span {
  font-family: Lekton;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.portfolio__date span:first-child {
  color: #46b4b4;
}
.portfolio__link {
  display: block;
  width: 120px;
  height: 35px;
  margin: 0 auto;
  line-height: 35px;
  border: 1px solid #9a977a;
  font-size: 14px;
  font-family: Lekton;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
@media (min-width: 650px) {
  .portfolio__container {
    height: 1500px;
  }
  .portfolio__item {
    width: 50%;
  }
}
@media (min-width: 1300px) {
  .portfolio__container {
    height: 1000px;
  }
  .portfolio__item {
    width: 33.33%;
  }
}
.stats {
  background: #f3f2f2;
  padding: 55px 0 70px;
  color: #46b4b4;
}
.stats__wrapper {
  padding: 0 50px;
  margin: 0 auto;
}
@media (min-width: 650px) {
  .stats__wrapper {
    max-width: 650px;
    margin: 0 auto;
  }
}
@media (min-width: 1300px) {
  .stats__wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}
.stats__header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
  font-weight: normal;
  font-size: 30px;
}
.stats__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.stats__pic {
  height: 65px;
  background: no-repeat center;
  margin-bottom: 50px;
}
.stats__text {
  font-size: 16px;
  text-transform: uppercase;
}
.stats__item {
  flex-basis: 50%;
  text-align: center;
  margin-bottom: 50px;
}
.stats__item:nth-of-type(1) .stats__pic {
  background-image: url(../img/stats/pizza.png);
}
.stats__item:nth-of-type(2) .stats__pic {
  background-image: url(../img/stats/books.png);
}
.stats__item:nth-of-type(3) .stats__pic {
  background-image: url(../img/stats/nap.png);
}
.stats__item:nth-of-type(4) .stats__pic {
  background-image: url(../img/stats/clients.png);
}
.stats__item:nth-of-type(5) .stats__pic {
  background-image: url(../img/stats/coffee.png);
}
.stats__item:nth-of-type(6) .stats__pic {
  background-image: url(../img/stats/dog.png);
}
@media (min-width: 650px) {
  .stats__item {
    flex-basis: 33.33333333%;
  }
}
@media (min-width: 1300px) {
  .stats__item {
    flex-basis: 16.66666667%;
  }
}
.blog {
  padding: 180px 0 210px;
}
.blog__wrapper {
  padding: 0 50px;
  margin: 0 auto;
}
@media (min-width: 650px) {
  .blog__wrapper {
    max-width: 650px;
    margin: 0 auto;
  }
}
@media (min-width: 1300px) {
  .blog__wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}
.blog__header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
  font-weight: normal;
  font-size: 30px;
}
.blog__container {
  display: flex;
  flex-wrap: wrap;
}
.blog__item {
  flex-basis: 100%;
  padding: 0 15px;
}
.blog__item img {
  height: 200px;
  width: 100%;
  background: #f3f2f2;
  margin-bottom: 30px;
}
.blog__item h3 {
  font-size: 16px;
  color: #303030;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.blog__item p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
@media (min-width: 1300px) {
  .blog__item {
    flex-basis: 25%;
  }
  .blog__item:first-child {
    flex-grow: 1;
  }
}
.blog__author {
  color: #46b4b4;
  font-size: 14px;
  text-decoration: none;
}
.blog__author span {
  text-transform: uppercase;
}
.blog__read {
  float: right;
  color: #fe0000;
  text-decoration: none;
}
.clients {
  background: #f2f2f2;
}
@media (max-width: 649px) {
  .clients {
    display: none;
  }
}
.clients__wrapper {
  padding: 100px 0;
  padding: 0 50px;
  margin: 0 auto;
  overflow: hidden;
}
.clients__item {
  width: 200px;
  height: 150px;
  background: grey;
  padding: 50px;
  background: url(../img/clients/1.png) no-repeat center;
}
.clients__item:nth-of-type(2n) {
  background-image: url(../img/clients/2.png);
}
.clients__item:nth-of-type(3n) {
  background-image: url(../img/clients/3.png);
}
.clients__item:nth-of-type(4n) {
  background-image: url(../img/clients/4.png);
}
.clients__item:nth-of-type(5n) {
  background-image: url(../img/clients/5.png);
}
.page-footer {
  background-image: linear-gradient(to left, #f0d93e 50%, #c6beae 50%);
}
.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1300px) {
  .page-footer__wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}
.page-footer__left {
  flex-basis: 100%;
  background: #c6beae;
  height: 500px;
}
.page-footer__right {
  flex-basis: 100%;
  height: 500px;
  background: #f0d93e;
}
.page-footer__inner {
  width: 400px;
  height: 380px;
  margin: 100px auto 0;
  position: relative;
}
.page-footer__inner h1 {
  font-size: 24px;
  color: #46b4b4;
  text-transform: uppercase;
}
.page-footer__inner .social {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -130px;
}
@media (min-width: 1300px) {
  .page-footer__left {
    flex-basis: 50%;
  }
  .page-footer__right {
    flex-basis: 50%;
  }
}
.form {
  margin: 0 auto;
  width: 400px;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #646250;
}
.form__header {
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.form__text {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.form input[type="text"] {
  width: 370px;
  margin: 0 auto 30px;
  border: none;
  border-bottom: 1px solid #646250;
  outline: none;
  background: #c6beae;
  font-family: Lekton;
  font-size: 14px;
  color: #646250;
}
.form input[type="text"]:placeholder-shown {
  color: #646250;
}
.form input[type="submit"] {
  text-transform: uppercase;
  font-family: Lekton;
  font-size: 14px;
  background: none;
  border: 1px solid #646250;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  padding: 15px 45px;
  color: #fff;
}
.address {
  position: absolute;
  right: 0;
  top: 0;
}
.address p {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 13px;
}
.address p:last-of-type {
  margin-top: 20px;
}
.address a {
  font-size: 13px;
  color: #46b4b4;
  text-transform: uppercase;
  text-decoration: none;
}
.copy {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.copy p {
  font-size: 13px;
  text-transform: lowercase;
  font-weight: bold;
}
@font-face {
  font-family: Lekton;
  src: url("../font/lekton/Lekton-Regular.ttf");
}
@font-face {
  font-family: Oswald;
  src: url("../font/oswald/Oswald-Regular.ttf");
}
* {
  margin: 0;
  transition: all .3s;
}
body {
  margin: 0;
  font-family: Lekton, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald;
}
