@mobile: ~ "(max-width: 649px)";
@tablet: ~ "(min-width: 650px)";
@desktop: ~ "(min-width: 1300px)";

@yellow:#f0d93e;
@green:#60d4d4;

@import "header.less";
@import "about.less";
@import "people.less";
@import "process.less";
@import "portfolio.less";

@font-face {
  font-family: Lekton;
  src: url("../font/lekton/Lekton-Regular.ttf");
}

@font-face {
  font-family: Oswald;
  src: url("../font/oswald/Oswald-Regular.ttf");
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: Lekton, sans-serif;
}

.lcw() {
  padding: 0 50px;
  margin: 0 auto;
}
.lcw-t() {
  max-width:650px;
  margin: 0 auto;
}
.lcw-d() {
  max-width:1300px;
  margin: 0 auto;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Oswald;
}